<html>
   <body>
   <h1>Your Archived Pages</h1>
	<h2>Sorted By Date</h2>
   <p></p>
		
		<link src="resource-directory.html" rel="page-deletable"/>
		<link src="resource-data.html" rel="data-deletable"/>
		
		<table class="archive_data_table">
			<th>Link</th><th>Date</th><th>Manage tags</th><th>Delete</th>
			<!-- GET? POST? DELETE? -->
			<tr class="archive_entry"><form action="resource-directory.html" method="delete">
				<td><a href="#">sils.unc.edu/courses</td></a>  
				<td>10/10/15 12:45 PM</td>
				<td><a href="metadata_edit_tags.html">Tags</a></td>
				<td><input type="submit" value="Delete"/></td>
				</form>
			</tr>
			<tr class="archive_entry"><form action="resource-directory.html" method="delete">
				<td><a href="#">sils.unc.edu/courses</td></a>  
				<td>10/09/15 12:45 PM</td>
				<td><a href="metadata_edit_tags.html">Tags</a></td>
				<td><input type="submit" value="Delete"/></td>
				</form>
			</tr>
			<tr class="archive_entry"><form action="resource-directory.html" method="delete">
				<td><a href="#">sils.unc.edu/courses</td></a>  
				<td>10/08/15 12:45 PM</td>
				<td><a href="metadata_edit_tags.html">Tags</a></td>
				<td><input type="submit" value="Delete"/></td>
				</form>
			</tr>
			<tr class="archive_entry"><form action="resource-directory.html" method="delete">
				<td><a href="#">sils.unc.edu/courses</td></a>  
				<td>10/07/15 12:45 PM</td>
				<td><a href="metadata_edit_tags.html">Tags</a></td>
				<td><input type="submit" value="Delete"/></td>
				</form>
			</tr>
			<tr class="archive_entry"><form action="resource-directory.html" method="delete">
				<td><a href="#">sils.unc.edu/courses</td></a>  
				<td>10/06/15 12:45 PM</td>
				<td><a href="metadata_edit_tags.html">Tags</a></td>
				<td><input type="submit" value="Delete"/></td>
				</form>
			</tr>
			<tr class="archive_entry"><form action="resource-directory.html" method="delete">
				<td><a href="#">sils.unc.edu/about</td></a> 
				<td>10/04/15 8:23 AM</td>				
				<td><a href="metadata_edit_tags.html">Tags</a></td>
				<td><input type="submit" value="Delete"/></td>
				</form>
			</tr>
			<tr class="archive_entry"><form action="resource-directory.html" method="delete">
				<td><a href="#">sils.unc.edu/program</td></a>  
				<td>08/03/15 9:43 AM</td>
				<td><a href="metadata_edit_tags.html">Tags</a></td>
				<td><input type="submit" value="Delete"/></td>
				</form>
			</tr>
		</table>
		<br />
		<link rel="previous" src="archives.html#page=1"/>
		<link rel="next" src="archives.html#page=3"/>
		<a href="archives.html">Previous</a>			<a href="archives.html" style="margin-left:300px;">Next</a><br /><br />
		<a href="hub.html">Return to the home page</a>
		<style>
		th, td{
			border:1px solid black;
			text-align:center;
		}
		</style>
   </body>
</html>