<html> <body style="margin-left:auto; margin-right:auto; max-width:80%;"><h1>Web Archivist</h1>
   <p>Welcome. Here on this page, you can input new criteria for archiving web pages, go to a page where you can edit or delete existing criteria, search pages you've already archived, or go to a page where you can browse pages you've already archived.</p>
		<div style="background-color:lightgray; padding:5px;">
		<h2>Archive a new page or set of pages</h2>
		<link src="resource-data.html" rel="data-addable" />	
		<form action="resource_directory.html" method="POST" class="add_rule">
			<div>URL: <input type="text" name="url_to_archive"></input></div><br />
			<div>Frequency: <select>
				<option value="hourly">Hourly</option>
				<option value="daily">Daily</option>
				<option value="weekly">Weekly</option>
				<option value="monthly">Monthly</option>
			</select></div><br />
			<div>Archive the links on the page?: <input type="radio" name="links" value="Yes">Yes</input> <input type="radio" name="links" value="No" checked>No</input></div><br />
			<div><input type="submit" value="Submit"/></div></form></div><br />
		<div style="background-color:tan; padding:5px;">
		<h2>Other actions</h2>
		1. <a href="archive_rules.html">Edit or delete existing rules.</a><br /><br />
		<form action="search_results.html" method="GET" class="search_bar">
			<div>2. Search the pages you've already archived:</div>
			<div><input type="text" name="searchTerms"></input> <input type="submit" value="Go"/></div></form><br />
		<div>3. <a href="browse_archives.html">Browse your archives.</a></div>
		</div></body></html>