<html>
	<body>
		<h1>Edit tags for: "sils.unc.edu"</h1>
		
		<link src="resource_data.html" rel="data-editable"/>
		
		<form action="resource_data.html" method="PUT" class="archive_entry_with_tags">
			<ul>
			<li>URL: <a href="#">sils.unc.edu</a></li>
			<li>Date saved: 10/08/2015 12:45 PM</li>
			<li>Tags (separate with semicolons): <input type="text" name="tags" value="UNC; SILS; homepage;"></input></li><br />
			<input type="submit" value="Submit New Tags"></input>
			</ul>
		</form>
	</body>
</html>