<!doctype html>
<link rel="alternate" type="application/json" href="archivedPages.json">
<title>Archived Pages</title>
<div>
<h1>Archived Pages</h1>
<ul id="pageList">
{% for page in pages %}
    <li class="pageListing">
        <a class="pageLink" href="{{ 'page/' + page[0] }}">{{ page[1]['url'] }}</a>: {{ page[1]['date'] }}
    </li>
{% endfor %}
</ul>
    </div>
<div>
    <h2>Search pages by URL:</h2>
        <div><input id="searchTerm" oninput="search()"/></div>
    </div><br />
    <a href="/rules">View archiving rules.</a>
</body>
</html>

<script>
function search()
{
    var theQuery = document.getElementById("searchTerm").value;
    var listItems = document.querySelectorAll('.pageLink');
    console.log(listItems.length);
    for(var i = 0; i < listItems.length; i++){
    console.log(listItems[i].innerHTML);
       if(listItems[i].innerHTML.indexOf(theQuery) == -1){
          //change parent li to hidden
          listItems[i].parentNode.setAttribute("style", "display:none");
       }
       else{
          listItems[i].parentNode.setAttribute("style", "display:block");
       }
    }
    }
</script>
