<!doctype html>
<link rel="alternate" type="application/json" href="archiveRules.json">
<title>Archiving Rules</title>
<div>
<h1>Current Archiving Rules</h1>
<ul>
{% for rule in rules %}
    <li>
        <a href="{{ 'rule/' + rule[0] }}">{{ rule[1]['url'] }}</a>: {{ rule[1]['startDate'] }}
    </li>
{% endfor %}
</ul>
<div style="background-color:lightgray; padding:5px;">
<h1>Add rule:</h1>
<form class="rule-maker" method="post">
            <label>URL (remember to include 'http://'): <input type="text" name="url"></input></label><br />
			<label>Frequency: <select name="frequency">
				<option value="hourly">Hourly</option>
				<option value="daily">Daily</option>
				<option value="weekly">Weekly</option>
				<option value="monthly">Monthly</option>
			</select></label><br />
			<label>Archive the links on the page?: <input type="radio" name="getLinks" value="true">Yes</input> <input type="radio" name="getLinks" value="false" checked>No</input></label><br />
			<label>Description:<textarea name="description"></textarea></label>
            <div><input type="submit" value="Create new rule" id="rule-confirm"/></div>
        </form>
</div>
</body>
</html>
