<!doctype html>
<link rel="alternate" type="application/json" href="archiveRules.json">
<title>Archiving Rule</title>
<body>
<h1>Rule ID: <span class="rule_id">{{ rule['@id'][5:] }}</span></h1>
<div style="background-color:lightgray; padding:5px;">
<h1 class="func_des">Edit rule:</h1>
<form class="rule-editor" method="post">
<div itemscope itemtype="http://bib.schema.org/Collection">
URL: <a itemprop="http://bib.schema.org/isBasedOnUrl" href="{{ rule['url'] }}">{{ rule['url'] }}</a><br>
			Start date: <time itemprop="dateCreated" datetime="{{rule['startDate']}}">{{rule['startDate']}}</time>
			<br />
<fieldset>
  <legend>Frequency: </legend>
  <label>
    <input type="radio" name="frequency" value="hourly"
{% if rule['frequency'] == 'hourly' %}
checked>
<link itemprop="http://purl.org/dc/terms/accrualPeriodicity" href="http://purl.org/linked-data/sdmx/2009/code#freq-H">Hourly
{% else %}
> Hourly
{% endif %}
  </label>
  <label>
    <input type="radio" name="frequency" value="daily"
{% if rule['frequency'] == 'daily' %}
checked>
<link itemprop="http://purl.org/dc/terms/accrualPeriodicity" href="http://purl.org/linked-data/sdmx/2009/code#freq-D">Daily
{% else %}
> Daily
{% endif %}
  </label>
  <label>
    <input type="radio" name="frequency" value="weekly"
{% if rule['frequency'] == 'weekly' %}
checked>
<link itemprop="http://purl.org/dc/terms/accrualPeriodicity" href="http://purl.org/linked-data/sdmx/2009/code#freq-W">Weekly
{% else %}
> Weekly
{% endif %}
  </label>
  <label>
    <input type="radio" name="frequency" value="monthly"
{% if rule['frequency'] == 'monthly' %}
checked>
<link itemprop="http://purl.org/dc/terms/accrualPeriodicity" href="http://purl.org/linked-data/sdmx/2009/code#freq-M">Monthly
{% else %}
> Monthly
{% endif %}
  </label>
  <label>
    <input type="radio" name="frequency" value="yearly"
{% if rule['frequency'] == 'yearly' %}
checked>
<link itemprop="http://purl.org/dc/terms/accrualPeriodicity" href="http://purl.org/linked-data/sdmx/2009/code#freq-A">Yearly
{% else %}
> Yearly
{% endif %}
  </label>
</fieldset>
<br />
<fieldset>
  <legend>Archive the links on the page?:</legend>
  <label> <input type="radio" name="getLinks" value="true"
           {% if rule['getLinks'] %} checked {% endif %}> Yes
  </label>
  <label> <input type="radio" name="getLinks" value="false"
           {% if not rule['getLinks'] %} checked {% endif %}> No </label>
</fieldset>
<br />
			<label itemprop="description">Description:<textarea name="description" class="rule_des">{{ rule['description'] }}</textarea></label>
</div>
			<div><input class="update" type="submit" value="Modify rule" id="rule-confirm"/></div>
	 <script>
    var form = document.querySelector('form.rule-editor');
    var button = document.querySelector('form.rule-editor input.update');
    button.addEventListener('click', function (event) {
      event.preventDefault();
      var request = new XMLHttpRequest();
      request.open('PATCH', window.location.pathname);
      request.onreadystatechange = function () {
        if (XMLHttpRequest.DONE === request.readyState
            && 200 === request.status) {
          window.location.reload(true);
        }
      }
      request.send(new FormData(form));
    }, false);
  </script>
        </form>
	</div>
<a href="../rules" rel="https://aeshin.org/teaching/inls-620/2015/fa/webarchive/collection">View all rules.</a>
</body>
</html>
