<!doctype html>
<link rel="alternate" type="application/json" href="archiveRules.json">
<title>Archiving Rule</title>
<body>
<h1>Rule ID: {{ rule['@id'][5:] }}</h1>
<h1>Edit rule:</h1>
<form class="rule-maker" method="PATCH">
            URL: <a href="{{ rule['url'] }}">{{ rule['url'] }}</a><br />
			<label>Frequency: <select name="frequency">
				<option value="hourly" {% if rule['frequency'] == 'hourly' %} selected {% endif %}>Hourly</option>
				<option value="daily" {% if rule['frequency'] == 'daily' %} selected {% endif %}>Daily</option>
				<option value="weekly" {% if rule['frequency'] == 'weekly' %} selected {% endif %}>Weekly</option>
				<option value="monthly" {% if rule['frequency'] == 'monthly' %} selected {% endif %}>Monthly</option>
			</select></label><br />
			<label>Archive the links on the page?: <input type="radio" name="getLinks" value="true" {% if rule['getLinks'] == 'true' %} checked {% endif %}>Yes</input> <input type="radio" name="links" value="false" {% if rule['getLinks'] == 'true' %} checked {% endif %}>No</input></label><br />
			<label>Description:<textarea name="description">{{ rule['description'] }}</textarea></label>
			<div><input type="submit" value="Modify rule" id="rule-confirm"/></div>
        </form>
</body>
</html>
