<!doctype html>
<link rel="alternate" type="application/json" href="archiveRules.json">
<title>Archiving Rules</title>
<body>
<h1 class="title">Current Archiving Rules</h1>
<ul class="rule_collection">
{% for rule in rules %}
    <li>
        <a href="{{ 'rule/' + rule[0] }}" class="rule">{{ rule[1]['url'] }}</a>: <span class="date">{{ rule[1]['startDate'] }}</span>
    </li>
{% endfor %}
</ul>
<div style="background-color:lightgray; padding:5px;">
<h1 class="func_des">Add rule:</h1>
<form class="rule-maker" method="post">
            <label>URL (remember to include 'http://'): <input type="text" name="url"></label><br />
			<label>Frequency: <select name="frequency">
				<option value="hourly">Hourly</option>
				<option value="daily">Daily</option>
				<option value="weekly">Weekly</option>
				<option value="monthly">Monthly</option>
			</select></label><br />
<fieldset>
  <legend>Archive the links on the page?:</legend>
  <label> <input type="radio" name="getLinks" value="true"> Yes </label>
  <label> <input type="radio" name="getLinks" value="false" checked> No </label>
</fieldset>
<br />
			<label>Description:<textarea name="description"></textarea></label>
            <div><input type="submit" value="Create new rule" id="rule-confirm" class="create"/></div>
        </form>
</div>
	<a href="/pages" rel="https://aeshin.org/teaching/inls-620/2015/fa/webarchive/page_collection">View archived pages.</a>
</body>
</html>
